<h1>Surgery Schedule</h1>
<a class="backButton" onclick="/dashboard/main">Back</a>
<hr />

<table id="surgeryListTable">
  <tr>
    <th>Requested By</th>
    <th>Room</th>
    <th>Patient</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Doctors Assigned</th>
  </tr>
  <tr id="noSurgeryMessage">
    <td colspan="5">No surgeries scheduled!</td>
  </tr>

</table>

<hr />
<div id="createSurgeryCTA" class="ctaWrapper">
  <a class="cta green" href="surgery/create">Schedule a Surgery</a>
</div>